.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 50vh 50vh 60vh 20vh 5vh;
    grid-template-areas: "h" "b" "p" "s" "n" "c" "d";
}
.logo {
    max-width: 20rem;
    max-height: 8rem;
}
.menu a {
    font-size: 1rem;
    right: 0;
    padding: 0.6rem;
}
.slider {
    max-height: 30vh;
}
.slide img {
    max-width: 100%;
    max-height: 100%;
}
.manual-navigation {
    margin-top: -14rem;
}
.manual-btn {
    border-radius: 0.5rem;
    padding: 0.2rem;
}
.manual-btn:not(:last-child){
    margin-right: 1.4rem;
}
.navigation-auto {
    margin-top: -14rem;
}
.navigation-auto div {
    border-radius: 0.5rem;
    padding: 0.2rem;
}
.navigation-auto div:not(:last-child){
    margin-right: 1.4rem;
}
.produtos h1{
    font-size: 2rem;
}
.prod {
    max-width: 2rem;
}