*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-x: hidden;
}
.header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 1.6rem;
  border-top: 0.4rem solid #18BC9C;
}
.header-lado {
  display: row;
  justify-content: flex-end;
}
.tele{
  text-align: right;
  font-size: small;
  margin-bottom: 3rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.tele p:not(:last-child){
  margin-right: 2rem;
}
.logo {
  width: 30rem;
  height: 9.6rem;
}
.logo img{
  width: 100%;
}
.menu a {
  text-decoration: none;
  color: #2C3E50;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.menu-header{
  display: flex;
  justify-content: flex-end;
}
.toggle {
  width: 5rem;
  height: 5rem;
  margin-right: 0;
  display: none;
}
.one, .two, .three {
  background-color: #18BC9C;
  width: 100%;
  height: 5px;
  margin: 5px auto;
}
#home {
  background-color: #18BC9C;
}
.menu a:hover {
  background-color: #18BC9C;
}
.banner {
  overflow: hidden;
}
.slider {
  width: 400%;
  display: flex;
}
.slider input{
  display: none;
}
.slide {
  width: 25%;
  position: relative;
  transition: 3s;
}
.slide img {
  width: 100%;
}
.manual-navigation {
  position: absolute;
  width: 100vw;
  margin-top: -4rem;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 0.2rem solid white;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 3rem;
}
.manual-btn:hover {
  background-color: white;
}
.navigation-auto{
  position: absolute;
  width: 100vw;
  margin-top: -4rem;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  border: 0.2rem solid white;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 3rem;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
.produtos {
  grid-area: p;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 4rem;
}
.linha {
  background-color: #18BC9C;
  height: 0.5rem;
  width: 30rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.titulo {
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
  height: 10%;
  margin-top: 2rem;
}
.obj {
  width: 90%;
  height: 100%;
  margin-top: 1.6rem;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  justify-content: center;
  grid-gap: 1rem;
}
.prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  cursor: pointer;
  flex: 1 1 30rem;
}
#bug{
  margin-top: 0.5rem;
}
.prod:hover {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prod h4 {
  text-align: center;
}
.prod img {
  max-width: 100%;
}
.prod button {
  width: 50%;
  height: 5rem;
  margin-top: 4rem;
  background-color: #18BC9C;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.prod button:hover {
  background-color: #05283d;
}
.preco{
  color: #18BC9C;
  font-weight: bold;
}
.servicos {
  grid-area: s;
  background-color: #18BC9C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.servicos .titulo {
  color: white;
}
#linha-dois {
  background-color: white;
  height: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
}
.cont-serv {
  margin-top: 1.6rem;
  margin: 0 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  grid-gap: 4rem;
}
.serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  cursor: pointer;
}
.serv h2 {
  color: white;
}
.serv p {
  color: white;
}
.serv img {
  max-width: 100%;
  border-radius: 5rem;
}
.serv button{
  color: #18BC9C;
  width: 20rem;
  height: 4rem;
  background-color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}
.serv button:hover {
  background-color: #05283d;
  color: white;
}
.novidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts {
  width: 90%;
  height: 100%;
  margin-top: 1.6rem;
  flex-wrap: wrap;
  margin: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  justify-content: center;
  grid-gap: 1rem;
}
.post {
  display: flex;
  flex-direction: column;
  justify-items: center;
  cursor: pointer;
  padding-bottom: 2rem;
}
.post h4 {
  margin-top: 1rem;
}
.post button{
  background-color: #18BC9C;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  width: 12rem;
  height: 4rem;
  cursor: pointer;
}
.post button:hover {
  background-color: #05283d;
  color: #fff;
}
.text-align {
  padding: 0 1.2rem;
}
.post p {
  margin: 1.5rem 0 2.5rem 0;
}
.post:hover {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post img {
  max-width: 100%;
}
.contato {
  border-top: 0.4rem solid #18BC9C;
  background-color: #2C3E50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
  grid-gap: 3rem;
}
.contato-rodape{
  color: white;
}
.titulo-rodape{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
}
.text-rodape{
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.direitos {
  height: 5vh;
  background-color: #263646;
  color: white;
  display: flex;
  align-items: center;
}
.logo-rodape {
  width: 20rem;
  height: 10rem;
  margin-bottom: 2rem;
}
.logo-rodape img {
  max-width: 100%;
}
.direitos span{
  margin-left: 3rem;
  font-size: smaller;
}

@media (max-width: 1030px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 1020px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 920px) {
  .menu a {
    font-size: 1.3rem;
  }
}
@media (max-width: 850px){
  .logo {
    width: 24rem;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 50%;
  }
  .logo {
    width: 20rem;
  }
}
@media (max-width: 665px) {
  html {
    font-size: 45%;
  }
  h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 591px) {
  .logo{
    margin: 0 auto;
    width: 30rem;
  }
  .menu, .tele {
    display: none;
  }
  /* Full menu  */
  .toggle {
    display: block;
  }
  .menu-header.on {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #18BC9C;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-header.on .menu {

    display: block;
  }
  .menu-header.on .menu a {
    display: block;
    text-align: center;
    transition-duration: 0.5s;
    font-size: 3rem;
    color: #fff;
    line-height: 8rem;
  }
  .menu-header.on .menu a:hover {
    background-color: #66bead;
  }
  .menu-header.on .toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .menu-header.on .toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: white;
    transition-duration: 0.3s;
  }
  .menu-header.on .toggle .two {
    opacity: 0;
    transition-duration: 0.3s;
  }
  .menu-header.on .toggle .three {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: white;
    transition-duration: 0.3s;
  }
  /* rodape */
  .logo-rodape {
    width: 15rem;
  }
  .contato-rodape, .direitos {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .logo {
    width: 28rem;
  }
}